
svg.facebook-icon,
svg.whatsapp-icon {
    height: 20px;
    position: relative;
    cursor: pointer;
}

@media only screen and (min-width:768px) {

    footer .logo.horizontal,
    header .logo.horizontal {
        display: block;
    }

    footer .logo.icon,
    header .logo.icon {
        display: none;
    }
}

@media only screen and (max-width:768px) {
    header .logo.horizontal {
        display: none;
    }

    footer .logo.horizontal,
    header .logo.icon {
        display: block;
    }

    footer .logo.icon {
        display: none;
    }
}

.Header_header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background: #498d60;
    background: linear-gradient(45deg, #498d60, #ddcb22);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

.Header_header .Header_logo {
    width: 10vw;
    max-width: 180px;
    cursor: pointer;
}

.Header_header .Header_menu-icon {
    margin-left: 27px;
}

.Header_header .Header_search-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Header_header .Header_search-box form {
    display: flex;
}

.Header_header .Header_search-box form input[type=search] {
    width: 75vw;
    max-width: 768px;
    height: 44px;
    border-radius: 20px;
    border: 1px solid #fff;
    font-size: 1.5rem;
    padding: 0 40px 0 2%;
    margin: 6px;
    color: #263238;
}

.Header_header .Header_search-box form svg {
    top: 21px;
    margin-left: -40px;
}

.Footer_footer_large {
    width: 100%;
    background-color: #498d60;
    border-top: 1px solid #498d60;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #263238;
    flex-direction: column;
    margin-top: 100px;
}

.Footer_footerLinks_large {
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    padding-bottom: 20px;
}

.Footer_footerLinks_large div {
    padding: 0 25px;
}

.Footer_footerLinks_large div a {
    color: #fff;
}

.Footer_footerCompany_large {
    font-size: 1.2rem;
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: #fff;
    top: -15px;
    text-align: center;
    padding: 10px 0;
}

.Footer_footer-logo_large {
    width: 20vw;
    min-width: 200px;
    margin: 20px 0;
    cursor: pointer;
}

.Footer_footer-search_large {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.Footer_footer-search_large form {
    display: flex;
}

.Footer_footer-search_large form input[type=search] {
    width: 80vw;
    max-width: 728px;
    height: 32px;
    border-radius: 20px;
    border: 1px solid #fff;
    font-size: 1.5rem;
    padding: 0 35px 0 2%;
    margin: 8px;
    color: #263238;
}

.Footer_footer-search_large form svg {
    height: 15px;
    top: 17px;
    left: -35px;
}

.Footer_switchLangContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.Footer_switchLangContainer div:first-child {
    margin-left: 0;
}

.Footer_switchLangContainer div {
    margin-left: 1rem;
}

.Footer_switchLangContainer div svg {
    border: 1px solid #263238;
    height: 2rem;
    width: auto;
}

.Page_container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 60px 0 0;
}

.Page_container .Page_main {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.Page_container .Page_main .Page_page-header_banner {
    display: flex;
    align-items: center;
    width: 100vw;
    z-index: 20;
    position: relative;
    height: 250px;
}

.Page_container .Page_main .Page_page-header_banner img {
    object-fit: cover;
}

.Page_container .Page_main .Page_page-header_banner h1 {
    width: 100%;
    max-height: 250px;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    position: relative;
    background-color: rgba(214, 200, 37, .8);
    line-height: 50px;
    z-index: 30;
}

.Page_container .Page_main .Page_page-body {
    position: relative;
    z-index: 10;
    font-size: 1.4rem;
    display: flex;
    width: 100%;
    max-width: 991px;
    flex-wrap: wrap;
}

.Page_container .Page_main .Page_page-body .Page_page-body_section-full {
    width: 100%;
    position: relative;
    padding: 15px;
}

.Page_container .Page_main .Page_page-body .Page_page-body_sharebuttons-section {
    padding-bottom: 0;
}

.Page_container .Page_main .Page_page-body .Page_page-body_sharebuttons-section div {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.Page_container .Page_main .Page_page-body .Page_page-body_sharebuttons-section div span {
    margin-left: 20px;
    cursor: pointer;
}

.Page_container .Page_main .Page_page-body .Page_page-body_sharebuttons-section div span:hover svg path {
    fill: #ddcb22;
}

.Page_container .Page_main .Page_page-body .Page_page-body_sharebuttons-section div span svg path {
    fill: #498d60;
}

.Page_container .Page_main .Page_page-body .Page_page-body_section-x2 {
    width: 50%;
    min-height: 300px;
    position: relative;
    padding: 15px;
}

.Page_container .Page_main .Page_page-body .Page_page-body_section-x2.Page_page-body_meta-section {
    min-height: unset;
    padding-bottom: 0;
    font-size: 1.2rem;
}

.Page_container .Page_main .Page_page-body .Page_page-body_section-x2.Page_page-body_meta-section span {
    padding-right: 20px;
}

.Page_grid-items_section {
    width: 100%;
}

.Page_grid-items_section h3 {
    font-size: 1.8rem;
    margin: 50px 0 0;
    color: #fff;
    background-color: #498d60;
    line-height: 50px;
    text-align: center;
    width: 100%;
    line-height: 40px;
    padding: 0 20px;
    border-bottom: 2px solid #c8c224;
    text-transform: uppercase;
}

#Page_grid-items_container {
    width: 100%;
    max-width: 992px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    font-size: 1.4rem;
}

#Page_grid-items_container .Page_grid-items_child {
    display: flex;
    flex-direction: row;
    margin: 1%;
    width: 49%;
    background-color: #fff;
}

#Page_grid-items_container .Page_grid-items_child:nth-child(odd) {
    margin-right: 0;
}

#Page_grid-items_container .Page_grid-items_child:nth-child(2n) {
    margin-left: 0;
}

#Page_grid-items_container .Page_grid-items_child .Page_grid-items_img {
    width: 30%;
    max-width: 300px;
    border: 2px solid #498d60;
    padding: 5px;
    cursor: pointer;
    height: -moz-fit-content;
    height: fit-content;
}

#Page_grid-items_container .Page_grid-items_child .Page_grid-items_img img {
    object-fit: cover;
}

#Page_grid-items_container .Page_grid-items_child .Page_grid-items_content {
    width: 70%;
    padding: 0 20px;
}

#Page_grid-items_container .Page_grid-items_child .Page_grid-items_content span {
    margin-right: 10px;
    font-size: 1.2rem;
}

#Page_grid-items_container .Page_grid-items_child .Page_grid-items_content h2 {
    font-size: 2rem;
    margin-top: 0;
}

#Page_grid-items_container .Page_grid-items_child .Page_grid-items_content h2 a {
    color: #263238;
    transition: color .5s ease-out;
}

#Page_grid-items_container .Page_grid-items_child .Page_grid-items_content h2 a:hover {
    color: #ddcb22;
}

#Page_grid-items_container .Page_grid-items_child .Page_grid-items_content p {
    overflow: hidden;
    font-size: 1.2rem;
}

#Page_grid-items_container .Page_grid-items_child .Page_grid-items_content .Page_grid-items_more {
    text-transform: uppercase;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #ddcb22;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    transition: border-color .5s ease-out;
    float: right;
}

#Page_grid-items_container .Page_grid-items_child .Page_grid-items_content .Page_grid-items_more:hover {
    border-color: #ddcb22;
}

#Page_grid-items_container .Page_grid-items_child .Page_grid-items_content .Page_grid-items_more a {
    display: inline-block;
    padding: 10px 20px;
}

@media only screen and (max-width:600px) {
    #Page_grid-items_container .Page_grid-items_child {
        flex-direction: column;
        margin-top: 20px;
    }

    #Page_grid-items_container .Page_grid-items_child .Page_grid-items_img {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    #Page_grid-items_container .Page_grid-items_child .Page_grid-items_img:first-child {
        height: -moz-fit-content;
        height: fit-content;
        padding: 5px;
    }

    #Page_grid-items_container .Page_grid-items_child .Page_grid-items_content {
        width: 100%;
    }
}

@media only screen and (max-width:768px) {
    .Page_container .Page_main .Page_page-header_banner h1 {
        font-size: 2.5rem;
    }

    .Page_container .Page_main .Page_page-body {
        display: block;
    }

    .Page_container .Page_main .Page_page-body .Page_page-body_section-x2 {
        width: 100%;
    }

    #Page_grid-items_container .Page_grid-items_child {
        width: 100%;
        margin: 40px 0 0;
    }

    #Page_grid-items_container .Page_grid-items_child:first-child {
        margin-top: 20px;
    }
}

@media only screen and (min-width:1281px) {
    #Page_grid-items_container {
        max-width: 1280px;
    }

    #Page_grid-items_container .Page_grid-items_child {
        justify-content: center;
    }
}

.st0.jsx-3fed2d6818200e59 {
    fill: #006837;
}

.st1.jsx-3fed2d6818200e59 {
    fill: #ddcb22;
}

.st0.jsx-c248fe81e0c21820 {
    fill: #fff;
}

#Menu_menu_container.Menu_menu-hidden #Menu_menu {
    left: -30%;
    box-shadow: unset;
}

#Menu_menu_container.Menu_menu-hidden #Menu_menu-overlay {
    display: none;
}

#Menu_menu_container #Menu_menu {
    position: fixed;
    width: 30%;
    max-width: 300px;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 0 10px #498d60;
    left: 0;
    transition: left .5s ease-out;
}

#Menu_menu_container #Menu_menu .Menu_menu_title {
    font-size: 2rem;
    color: #498d60;
    margin-top: 20px;
    padding: 10px 0 10px 20px;
}

#Menu_menu_container #Menu_menu ul {
    margin: 20px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#Menu_menu_container #Menu_menu ul li {
    list-style: none;
    padding: 10px 0 10px 30px;
    font-size: 1.5rem;
    border-top: 1px solid rgba(84, 110, 122, .2);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#Menu_menu_container #Menu_menu ul li:first-child {
    border-bottom: 0;
}

#Menu_menu_container #Menu_menu ul li:last-child {
    border-bottom: 1px solid rgba(84, 110, 122, .2);
}

#Menu_menu_container #Menu_menu ul li span {
    flex-grow: 1;
    color: #d6c825;
}

#Menu_menu_container #Menu_menu ul li i {
    font-size: 1.2rem;
    margin: 10px;
    font-style: inherit;
    color: #498d60;
}

#Menu_menu_container #Menu_menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 999;
}

@media only screen and (max-width:768px) {
    #Menu_menu_container.Menu_menu-hidden #Menu_menu {
        left: -40%;
        box-shadow: unset;
    }

    #Menu_menu_container #Menu_menu {
        width: 40%;
    }
}

@media only screen and (max-width:600px) {
    #Menu_menu_container.Menu_menu-hidden #Menu_menu {
        left: -70%;
        box-shadow: unset;
    }

    #Menu_menu_container #Menu_menu {
        width: 70%;
    }
}

.Menu_switchLangContainer {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

@media only screen and (max-width:600px) {
    .Menu_switchLangContainer {
        justify-content: center;
    }
}

.Menu_switchLangContainer div svg {
    border: 1px solid #263238;
    width: 3rem;
    height: 2rem;
}