/*! CSS Used from: https://allyoucantrend.com/_next/static/css/5469f82ff03a3a25.css */
body,
html {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #fff;
	font-size: 13px;
	color: #2c3546;
}

a {
	color: inherit;
	text-decoration: none;
	color: #2ea7e0;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none;
}

svg.search-icon {
	height: 18px;
	min-height: 15px;
	position: relative;
	cursor: pointer;
	color: #2c3546;
}

svg.search-icon .st0 {
	fill: #2c3546;
}

svg.menu-icon {
	height: 20px;
	width: 60px;
	position: relative;
	cursor: pointer;
}

svg.menu-icon .st0 {
	fill: #fff;
}

.more-link {
	display: none;
}

@media only screen and (min-width:768px) {

	footer .logo.horizontal,
	header .logo.horizontal {
		display: block;
	}

	footer .logo.icon,
	header .logo.icon {
		display: none;
	}
}

@media only screen and (max-width:768px) {
	header .logo.horizontal {
		display: none;
	}

	footer .logo.horizontal,
	header .logo.icon {
		display: block;
	}

	footer .logo.icon {
		display: none;
	}
}

.eb-body {
	position: relative;
	top: 20px;
	width: 100%;
	max-width: 698px;
	text-align: center;
}

.eb-body-content {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
}

.eb-body-content .eb-body-content-item {
	margin: 10px;
	flex: 0 0 43%;
}

.eb-body-content .eb-body-content-item a {
	text-decoration: none;
}

.eb-body-content {
	margin: 10px 0;
	max-width: 1280px;
	padding: 0;
}

.eb-body-content .eb-body-content-item {
	margin: 5px 1px;
	display: inline-flex;
	flex: none;
}

h1,
h2 {
	font-style: normal;
}

:root {
	--rehub-main-color: #111;
	--rehub-sec-color: #159cc3;
	--rehub-main-btn-bg: $highlight-bg-color;
	--rehub-link-color: #111;
}

/*! CSS Used from: https://allyoucantrend.com/_next/static/css/0a83e9e46e4294e0.css */
#IconsCategory_eb-navbar {
	padding: 0;
	width: 100%;
	text-align: center;
	background-color: rgba(69, 69, 69, .7);
	margin: 0 0 10px;
}

#IconsCategory_eb-navbar li {
	display: inline;
	padding-right: 5px;
}

#IconsCategory_eb-navbar li a {
	color: hsla(0, 0%, 100%, .75);
}

#IconsCategory_eb-navbar li:after {
	content: "›";
	padding-left: 5px;
	color: #617599;
}

#IconsCategory_eb-navbar li:first-child {
	padding-left: 0;
}

#IconsCategory_eb-navbar li:last-child {
	padding-right: 0;
}

#IconsCategory_eb-navbar li:last-child:after {
	content: "";
}

.IconsCategory_eb-body-title {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 1.4rem;
	font-weight: 700;
}

.IconsCategory_eb_body_content_item_action {
	font-family: Mayeka Bold Demo;
	font-size: 1.3rem;
	color: #55abdd;
	cursor: pointer;
	text-align: center;
	width: 150px;
}

.IconsCategory_eb_body_content_item_img {
	padding: 10px;
	border: 2px solid #55abdd;
	border-radius: 10px;
	margin: 5px;
	max-width: calc(90vw / 2);
	background-color: hsla(0, 0%, 100%, .6);
	box-shadow: inset 0 0 2px #55abdd;
}

.IconsCategory_eb-content_container {
	padding: 0 10px;
	text-align: left;
}

.IconsCategory_eb-content_container.IconsCategory_eb-category_section {
	margin-top: 30px;
}

.IconsCategory_eb-content_container h1 {
	padding: 0;
	color: #2c3546;
	border-bottom: 3px solid #617599;
	margin: 0 0 10px;
}

.IconsCategory_eb-content_container .IconsCategory_eb-content-body_container {
	display: flex;
}

.IconsCategory_eb-content_container .IconsCategory_eb-content-body_container .IconsCategory_eb-content-img{
	width: 40%;
	max-width: 40%;
	margin-bottom: 10px;
	padding: 0;
	border: 0;
}

.IconsCategory_eb-content_container .IconsCategory_eb-content-body_container .IconsCategory_eb-content-imgimg {
	object-fit: cover;
}

.IconsCategory_eb-content_container .IconsCategory_eb-content-body_container .IconsCategory_eb-content-body {
	font-size: 1.2rem;
	width: 60%;
	padding: 0 10px;
}

.IconsCategory_eb-content_container .IconsCategory_eb-content-body_container .IconsCategory_eb-content-body p {
	margin: 5px 0;
	color: #2c3546;
}

.IconsCategory_eb-related-posts_container {
	margin-top: 30px;
	padding: 0 10px;
	text-align: left;
}

.IconsCategory_eb-related-posts_container h2 {
	margin-bottom: 0;
	padding-top: 10px;
	border-top: 1px solid #617599;
}

.IconsCategory_eb-related-posts_container .IconsCategory_eb-related-posts-meta {
	text-align: right;
	font-style: italic;
	font-size: .9rem;
}

@media only screen and (max-width:600px) {
	.IconsCategory_eb-content_container .IconsCategory_eb-content-body_container {
		display: block;
	}

	.IconsCategory_eb-content_container .IconsCategory_eb-content-body_container .IconsCategory_eb-content-img{
		width: 100%;
		max-width: 100%;
	}

	.IconsCategory_eb-content_container .IconsCategory_eb-content-body_container .IconsCategory_eb-content-body {
		width: 100%;
		padding: 0;
	}
}

.SearchBrowsing_container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 80px 0 0;
}

.SearchBrowsing_main {
	padding: 0;
	flex: 1 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 70%;
	max-width: 892px;
}

@media only screen and (max-width:768px) {
	.SearchBrowsing_container {
		padding-top: 70px;
	}

	.SearchBrowsing_main {
		width: 100%;
	}
}

.Header_header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	background: linear-gradient(50deg, #617599, #c3daea);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 500;
	border-bottom: 10px solid #2c3546;
}

.Header_header .Header_logo {
	width: 15vw;
	max-width: 200px;
	cursor: pointer;
	margin: 0;
}

.Header_header .Header_menu-icon {
	margin-left: 16px;
}

.Header_header .Header_search-box {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.Header_header .Header_search-box form {
	display: flex;
}

.Header_header .Header_search-box form input[type=search] {
	width: 60vw;
	max-width: 768px;
	min-width: 320px;
	height: 44px;
	border-radius: 10px;
	border: 1px solid #fff;
	font-size: 1.5rem;
	padding: 0 40px 0 2%;
	margin: 6px;
	color: #2c3546;
}

.Header_header .Header_search-box form svg {
	top: 21px;
	margin-left: -40px;
}

@media only screen and (max-width:768px) {
	.Header_header {
		height: 70px;
	}

	.Header_header .Header_logo {
		width: 30vw;
		max-width: 48px;
		margin: 0 5px;
	}
}

@media only screen and (max-width:450px) {
	.Header_header .Header_search-box form input[type=search] {
		min-width: 255px;
	}
}

@media only screen and (max-width:380px) {
	.Header_header .Header_search-box form input[type=search] {
		width: 25vw;
		min-width: 240px;
	}
}

@media only screen and (max-width:350px) {
	.Header_header .Header_search-box form input[type=search] {
		width: 25vw;
		min-width: 200px;
	}
}

.Footer_footer_large {
	width: 100%;
	background: linear-gradient(50deg, #505e79, #2c3546);
	border-top: 3px solid #617599;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #2c3546;
	flex-direction: column;
	margin-top: 100px;
}

.Footer_footerLinks_large {
	color: #fff;
	display: flex;
	flex-direction: row;
	font-size: 1.2rem;
	padding-bottom: 20px;
}

.Footer_footerLinks_large div {
	padding: 0 25px;
}

.Footer_footerLinks_large div a {
	color: #fff;
}

.Footer_footerCompany_large {
	font-size: 1.2rem;
	width: 100%;
	justify-content: center;
	display: flex;
	background-color: #fff;
	top: -15px;
	text-align: center;
	padding: 10px 0;
}

.Footer_footer-logo_large {
	width: 20vw;
	min-width: 200px;
	margin: 20px 0;
	width: 25vw;
	min-width: 260px;
	max-width: 350px;
	margin: 10px 0 5px;
	cursor: pointer;
}

.Footer_footer-search_large {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 20px;
}

.Footer_footer-search_large form {
	display: flex;
}

.Footer_footer-search_large form input[type=search] {
	width: 80vw;
	max-width: 728px;
	height: 32px;
	border-radius: 6px;
	border: 1px solid #fff;
	font-size: 1.5rem;
	padding: 0 35px 0 2%;
	margin: 8px;
	color: #2c3546;
}

.Footer_footer-search_large form svg {
	height: 15px;
	top: 17px;
	left: -35px;
}

.Footer_switchLangContainer {
	padding: 0 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 1rem;
}

.Footer_switchLangContainer div svg {
    border: 1px solid #035a7a;
    width: 3rem;
    height: 2rem
}

/*! CSS Used from: Embedded */
.st0.jsx-7b80f82e3b8a39e5 {
	fill: #fff800;
}

.st1.jsx-7b80f82e3b8a39e5 {
	fill: #fff;
}

/*! CSS Used from: Embedded */
.st0.jsx-cc6842cc0b843ae1 {
	fill: #fff;
	stroke: #fff;
	stroke-miterlimit: 10;
}

.st1.jsx-cc6842cc0b843ae1 {
	fill: #fff800;
}

.st2.jsx-cc6842cc0b843ae1 {
	fill: #fff;
}

/*! CSS Used from: Embedded */
.st0.jsx-c248fe81e0c21820 {
	fill: #fff;
}

#Menu_menu_container.Menu_menu-hidden #Menu_menu {
	left: -30%;
	box-shadow: unset;
}

#Menu_menu_container.Menu_menu-hidden #Menu_menu-overlay {
	display: none;
}

#Menu_menu_container #Menu_menu {
	position: fixed;
	width: 30%;
	max-width: 300px;
	height: 100vh;
	background-color: #fff;
	z-index: 1000;
	box-shadow: 0 0 10px #2ea7e0;
	left: 0;
	transition: left .5s ease-out;
}

#Menu_menu_container #Menu_menu .Menu_menu_title {
	font-size: 2rem;
	color: #2ea7e0;
	margin-top: 20px;
	padding: 10px 0 10px 20px;
}

#Menu_menu_container #Menu_menu ul {
	margin: 20px 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#Menu_menu_container #Menu_menu ul li {
	list-style: none;
	padding: 10px 0 10px 30px;
	font-size: 1.5rem;
	border-top: 1px solid rgba(84, 110, 122, .2);
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#Menu_menu_container #Menu_menu ul li:first-child {
	border-bottom: 0;
}

#Menu_menu_container #Menu_menu ul li:last-child {
	border-bottom: 1px solid rgba(84, 110, 122, .2);
}

#Menu_menu_container #Menu_menu ul li span {
	flex-grow: 1;
	color: #2c3546;
}

#Menu_menu_container #Menu_menu ul li i {
	font-size: 1.2rem;
	margin: 10px;
	font-style: inherit;
	color: #2ea7e0;
}

#Menu_menu_container #Menu_menu-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	z-index: 999;
}

@media only screen and (max-width:768px) {
	#Menu_menu_container.Menu_menu-hidden #Menu_menu {
		left: -40%;
		box-shadow: unset;
	}

	#Menu_menu_container #Menu_menu {
		width: 40%;
	}
}

@media only screen and (max-width:600px) {
	#Menu_menu_container.Menu_menu-hidden #Menu_menu {
		left: -70%;
		box-shadow: unset;
	}

	#Menu_menu_container #Menu_menu {
		width: 70%;
	}
}

.Menu_switchLangContainer {
	padding: 0 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}

@media only screen and (max-width:600px) {
	.Menu_switchLangContainer {
		justify-content: center;
	}
}

.Menu_switchLangContainer div svg {
	border: 1px solid #ccc;
	width: 3rem;
	height: 2rem;
}

/*! CSS Used fontfaces */
@font-face {
	font-family: Roboto;
	src: url(/fonts/Roboto-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(/fonts/Roboto-Bold.ttf);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Mayeka Bold Demo;
	src: url(/fonts/mayeka_bold_demo-regular.otf);
}